<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Onestop ID Registry - report</title>
    <link href="onestop-id-registry.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Onestop ID Registry</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <h5 class="navbar-right">Report generated: {{ report_datetime }}</h5>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <h5>Onestop IDs</h5>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#operators">Operators</a></li>
            <li><a href="#feeds">Feeds</a></li>
          </ul>
          <h5>Crosswalks</h5>
          <ul class="nav nav-sidebar">
            <li><a href="#us_ntd">Operators against US NTD</a></li>
            <li><a href="#gtfs_data_exchange">Feeds against GTFS Data Exchange</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 id="operators" class="sub-header">Operators</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Onestop ID</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                {{#operators}}
                <tr>
                  <td>{{onestop_id}}</td>
                  <td><a href="{{name}}">{{name}}</a></td>
                </tr>
                {{/operators}}
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 id="feeds" class="sub-header">Feeds</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Onestop ID</th>
                  <th>Feed Format</th>
                  <th>URL</th>
                </tr>
              </thead>
              <tbody>
                {{#feeds}}
                <tr>
                  <td>{{onestop_id}}</td>
                  <td>{{feed_format}}</td>
                  <td><a href="{{url}}">{{url}}</a></td>
                </tr>
                {{/feeds}}
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 id="feeds" class="sub-header">Operators against US NTD</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>NTD ID</th>
                  <th>Name (from NTD)</th>
                  <th>Onestop ID</th>
                </tr>
              </thead>
              <tbody>
                {{#us_ntd_comparison}}
                <tr>
                  <td>{{ntd_agency.ntd_id}}</td>
                  <td>{{ntd_agency.name}}</td>
                  <td>{{onestop_id}}</td>
                </tr>
                {{/us_ntd_comparison}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <script src="onestop-id-registry.js"></script>
  </body>
</html>
